
<ion-view>
    <ion-content>
        <ion-list>
            <ion-item onClick="AFTERHOME_listItemClick()">
                <p><span style="float:left;">Country</span> <span style="float:right;font-weight:bold;" id="AFTERHOME_countrySPAN"></span></p>
            </ion-item>
            <ion-item>
                <p><span style="float:left;">City</span> <span style="float:right;font-weight:bold;" id="AFTERHOME_citySPAN"></span></p>
            </ion-item>
            <ion-item>
                <p>More Info - </p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>